

@import '../foundation.scss';

.mb-auth{
  
    display: flex;
    height: 100vh;
    flex-direction: column;
    padding-top: 80px;
    align-items: center;
    gap:50px;
    background-color: var(--primary);

    &__logo{

        width: 180px;

        @include mobile{

            width: 240px;
        }
    }

    &__img{
        width: 100%;
    }

    &__form{
        display: flex;
        flex-direction: column;
        gap:16px
    }
}