@import '../foundation.scss';


.mb-dashboard{

    height: calc(100% - ($navHeight));

    @include no-tablet{

        margin-top: $navHeight
    }

    @include tablet{
        margin-bottom: $navHeight
    }

    &__form{
        display: flex;
        flex-direction: column;
        gap:16px
    }

    &__profile{
        margin-top: 120px;

        @include tablet{
            margin-top: 40px;
        }
    }

    &__form-search{
        display: flex;
        flex-direction: column;
    }

    &__header{
        background-color: var(--primary);
        position: sticky;
        top: $navHeight;
        width: 100%;
        margin: 0 auto;       
        
        @include tablet{
            top:0;
        }
    }   

    &__fields{     
        display:flex;
        gap:5px;
        padding: 5px 10px;
        width: $mobileWidth;
        margin: 0 auto;
        &--search{
            width: 70%;
        }

        @include mobile{
            width: 100%;
        }
    }   

    &__nav-view-modes{
        padding: 5px 10px;
        background-color: var(--grey);
        display: flex;
        align-items: end;
        flex-direction: column;
    }
    
    &__view-modes{
        display:flex ;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    &__view-mode-btn{

        @include make-btn-default;
        @include font-body;
        padding: 5px 24px;
        color:var(--link);
    }

    &__table{

        width: 100%;
        

        & td, & th {
            padding: 5px;
            @include font-body;
        }

        /* Adiciona uma borda inferior nas linhas da tabela */
        & tr {
            border-bottom: 1px solid var(--black);
        }

        /* Faz o cabeçalho da tabela (th) ter a cor laranja */
        & th {
            color:var(--primary);
        }

    }

    &__content{
        margin-top: 10px;
    }
}

.mb-nav{

    position: fixed;  
    width: 100%;
    left: 0;
    right: 0;
    height: $navHeight;

    @include no-tablet{
        top: 0;
        box-shadow: 0 1px 5px var(--purple);
        border-bottom: solid 1px var(--purple);
        background-color: var(--primary);
    }

    @include tablet{
        bottom: 0;
        box-shadow: 0 1px 5px var(--purple);
        border-top: solid 1px var(--purple);
        background-color: var(--white);
    }

    &__list{
        display: flex;
        width:100%;
        list-style-type: none;
        padding: 0;
        margin: 0;
        height: 100%;

        @include no-tablet{
            justify-content: space-between;
        }
    }

    &__item{
        
        position: relative;

        @include tablet{

            width: 50%;

            &:first-child{

                &::after{
                    content: '';
                    position: absolute;
                    width: 1px;
                    background-color: var(--purple);
                    top:0;
                    bottom:0;
                    right: -.5px;                    
                    opacity: 0.2;
                }
            }
        }
    }

    &__link{
        display: flex ;
        align-items: center;
        padding: 5px 15px;
        height: 100%;
        width: 100%;
        text-decoration: none;
        

        @include no-tablet{
            color:var(--purple);
            @include font-btn;
        }

        @include tablet{
            color:var(--primary);
            @include font-heading-04;
        }
    }

    &__figure{
        width: 50px;   
        margin: 0;

        @include tablet{

            margin: 0 auto;
        }     
    }

    &__img{
        width: 100%;
    }

    &__span{
        @include tablet{
            margin: 0 auto;
        }
    }
}