

$desktopWidth : map-get($container-max-widths, 'xl');
$tabletWidth  : map-get($container-max-widths, 'lg');
$mobileWidth  : map-get($container-max-widths, 'sm');

$font-league-spartan : "League Spartan";

$navHeight:70px;